{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["**/.*rc", "**/*.json"],
      "options": { "parser": "json" }
    }
  ]
}
