services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./application:/usr/server/application
      - ./node_modules:/usr/server/node_modules
    ports:
      - 8001:8001
    restart: always
    env_file:
      - .env

networks:
  default:
    name: metaterminal-api-network
