services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
      - 8001:8001
    restart: always
    env_file:
      - .env
    environment:
      NODE_ENV: production
    networks:
      - ptfin-backend

networks:
  ptfin-backend:
    external: true
    name: ptfin-backend
