services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8001:8001
    restart: always
    env_file:
      - .env
    environment:
      NODE_ENV: production

networks:
  default:
    name: metaterminal-api-network
